/node_modules
/public/hot
/public/storage
/public/chat-attachments
/public/company-resources
/public/profile-images
/public/profile-types
/public/steps
/public/uploads
/public/welcome-notes
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
./.idea
